<h1>ICP-OES 予約システム</h1>
<%= render 'shared/reservations_show' %>

<%= link_to '予約内容の変更', edit_icp_reservation_path(@reservation), class: "btn btn-xs btn-warning" %> |
<%= link_to '戻る', icp_reservations_path %>
